# ========================
# Python
# ========================
__pycache__/
*.pyc

# Virtual Environments
.venv/
.venv-wsl/
venv/

# VS Code
.vscode/

# Logs
logs/*.log

# Local state / runtime files
configs/instances.json