# Python
__pycache__/
*.pyc
.venv/
venv/

# VS Code
.vscode/

# Logs
logs/*.log
configs/instances.json

# Local state
configs/instances.json

# virtual environments
.venv/
.venv-wsl/
venv/
__pycache__/
*.pyc